body {
    overflow-y: hidden;
}


.rotation-spinner {
    -webkit-animation: rotation 2.5s infinite ease-in-out;
}

@keyframes rotation {
    from {
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -o-transform: rotate(1440deg);
        -ms-transform: rotate(1440deg);
        -moz-transform: rotate(1440deg);
        -webkit-transform: rotate(1440deg);
        transform: rotate(1440deg);
    }
}
